@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Grey200: hsl(0, 0%, 85%);
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.parteArriba {
  background-image: url("./images/desktop/image-hero.jpg");
  padding: 60px 150px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.enlaces {
  display: flex;
  gap: 15px;
  color: var(--White);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 75px;
  color: var(--White);
  padding: 30px;
  font-weight: 300;
  margin-bottom: 60px;
  width: 58%;
  text-transform: uppercase;
  border: 3px solid var(--White);
}

.parteCentral {
  display: flex;
  flex-direction: column;
  padding: 160px 150px;
}

.parteCentral img {
  width: 65%;
}

.tioConGafas {
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
}

.tioConGafasTexto {
  position: relative;
  background-color: var(--White);
  padding: 95px 0 0 95px;
  margin-left: -160px;
  max-width: 50%;
}

.tioConGafasTexto p {
  margin-top: 30px;
  opacity: 0.5;
  line-height: 1.5;
  letter-spacing: 0.55px;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 55px;
  font-weight: 300;
  text-transform: uppercase;
}

.titulocuadrosImagenes {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

button {
  padding: 10px 50px;
  font-size: 20px;
  background-color: var(--White);
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  word-spacing: 6px;
  text-transform: uppercase;
  border: 2px solid var(--Black);
  border-radius: 4px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.imagen {
  height: 450px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  position: relative;
}

.imagen h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--White);
  z-index: 1;
  width: 150px;
  line-height: 1;
}

.imagenDeepEarth {
  background-image: url("./images/desktop/image-deep-earth.jpg");
}
.imagenNightArcade {
  background-image: url("./images/desktop/image-night-arcade.jpg");
}
.imagenSoccerTeamVR {
  background-image: url("./images/desktop/image-soccer-team.jpg");
}
.imagenTheGrid {
  background-image: url("./images/desktop/image-grid.jpg");
}
.imagenFromUpAboveVR {
  background-image: url("./images/desktop/image-from-above.jpg");
}
.imagenPocketBorealis {
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
}
.imagenTheCuriosity {
  background-image: url("./images/desktop/image-curiosity.jpg");
}
.imagenMakeItFisheye {
  background-image: url("./images/desktop/image-fisheye.jpg");
}

footer {
  padding: 50px 150px;
  background-color: var(--Black);
}

.logosFooter {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.redesSociales {
  display: flex;
  gap: 20px;
}

.parteAbajoFooter {
  display: flex;
  justify-content: space-between;
}

.enlaces {
  display: flex;
  gap: 15px;
  color: var(--Grey200);
}

.parteAbajoFooter p {
  color: var(--Grey200);
}
